form {
  display: flex;
  padding: 10px;
}

.wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: normal;
  margin: 5px auto 0;
  padding: 6px;
  width: 420px;
}
.frame {
  width: 40vw;
  max-width: 400px;
}
.header {
  color: lightgrey;
  display: inline;
  text-align: left;
  padding-left: 35px;
}

/* .list-wrapper {
  margin-top: 100px;
  max-height: 50%;
  overflow-y: auto;
} */

.list-item {
  border-bottom: 1px dotted #cfcfcf;
  font-size: 20px;
  padding: 6px;
  position: relative;
}

.list-item:hover {
  background: grey;
  color:red;
}

.button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
}

.todolist {
  min-height: 10vh;
  text-align: center;
}

.delButton {
  background: url(./trash1600.png) no-repeat;
  border: none;
  height: 16px;
  opacity: 0.6;
  width: 23px;
}

.inCenter {
  text-align: center;
  color: wheat;
}

.base {
  background-color: lightslategray;
}